.profile {
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #00d9ffe5;
}

.name,
.tag,
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.tag {
  font-style: italic;
}

.name {
  font-weight: 700;
  font-size: 36px;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.statsItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.statsItems:not(:last-of-type) {
  margin-right: 30px;
}

.quantity {
  font-weight: 700;
}
