.statistics {
  background-color: rgb(235, 231, 231);
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 36px;
}

.statList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.statItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(251, 255, 34, 0.25);
  border: 2px solid #ffff00cc;
}

.percentage {
  padding-top: 10px;
  font-size: 24px;
}
